APP_NAME=
DB_CONTAINER_NAME=
NODE_ENV=

BACK_PORT=
FRONT_PORT=
DB_PORT=
ADMINER_PORT=

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SITE_URL=

CORS_ORIGIN_URL=

EC_KEY=
EC_SALT=
JWT_REFRESH_SECRET=
JWT_SECRET=
COOKIE_SECRET=
ADMIN_PASSWORD=

DB_USERNAME=
DB_PASSWORD=

CORS_ORIGIN_URL=

