@import "tailwindcss";

:root {
  --foreground: #a3cbf1;
  --background: #061a2c;
}

/* biome-ignore lint/suspicious/noUnknownAtRules: don't care */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Color scale */
  --color-primary: #ffffff;
  --color-secondary: var(--foreground);
  --color-accent: #1f5e9a;
  --color-modal: #1d3a56;
  --color-dark: #0c2135;
  --color-darker: var(--background);
  --color-code: #061727;
  --color-emphasis: #9eff28;

  /* Transition */
  --default-transition-duration: 0.5s;
  --default-transition-timing-function: cubic-bezier(0, 0.8, 0.3, 1);

  /* Font */
  /*--font-display: var(--font-gilroy), sans-serif;*/
  /*--default-font-family: var(--font-fira-code), monospace;*/
}
