@import "tailwindcss";

:root {
  --foreground: #a3cbf1;
  --background: #061a2c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Color scale */
  --color-primary: #ffffff;
  --color-secondary: var(--foreground);
  --color-accent: #1f5e9a;
  --color-modal: #1d3a56;
  --color-dark: #0c2135;
  --color-darker: var(--background);
  --color-code: #061727;
  --color-emphasis: #9eff28;

  /* Font */
  --font-display: var(--font-gilroy), sans-serif;
}
